.forminput {
    margin: auto;
    width: 100%;
}
.forminput .priceinput {
    display: flex;
}
.forminput .priceinput img {
    text-align: center;
}
.forminput .priceinput input {
    text-align: center;
    width: 100%;
    border:0;
    outline:0;
    font-size: 50px;
    color: #0D2D11;
    /* opacity: 12%; */
}
.forminput .priceinput input:focus {
    outline:none;
}