.specificationcontainer {
    /* background-color: #423521; */
    border-radius: 7px;
}
.specificationcontainer .carDetails {
    width: 100%;
    height: 82px;
    background-color: #202942;
    border-radius: 7px 7px 0px 0px;
    margin: auto;
    padding-top: 10px;
}
.specificationcontainer .carDetails h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
.specificationcontainer .carDetails h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(132, 146, 166, 1);
}
.specificationcontainer .Specifications {
    color: black;
    margin-left: 10px;
}
.specificationcontainer .Specifications img {
    width: 4%;
    margin-right: 10px;
}
.specificationcontainer .Specifications .spec1 {
    display: flex;
    font-size: 15px;
    line-height: 3px;
}
.specificationcontainer .Specifications .spec2 {
    display: flex;
    font-size: 15px;
    line-height: 3px;
}
.specificationcontainer .Specifications .spec3 {
    display: flex;
    font-size: 15px;
    line-height: 3px;
}