.cardcontainer {
    background-color: #423521;
    border-radius: 5px;
}
.cardcontainer .carDetails {
    width: 100%;
    height: 82px;
    background-color: #202942;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    
    /* padding-top: 10px;
    padding-bottom: 20px; */

}
.cardcontainer .carDetails h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: blueviolet;
    margin: auto;

}
.cardcontainer .carDetails h4 {
    font-size: 13px;
    line-height: 18px;
    /* margin: auto; */
    background-color: rgb(55, 46, 63);

    color: rgba(132, 146, 166, 1);
    /* font-kerning: -0.13px; */
}