.userdetailscontainer {
    /* padding: 10px; */
  
}
.userdetailscontainer hr {
    width: 333px;
    justify-content: center;
    color: #0A22391F;
    margin-top: 30px;
}
.userdetailscontainer form {
    padding: 10px;
    /* margin-bottom: -90px; */
}
.userdetailscontainer input {
    font-size: 14px;
}
.userdetailscontainer input:focus {
    border: solid;
    border-width: 1px;
    border-color: #3054D6;
    border-radius: 4px;
    color:#3054D6
}
.userdetailscontainer button {
    width: 320px;
    height: 52px;
    border-radius: 6px;
    border-width: 0px;
}
.userdetailscontainer input {
    width: 295px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #E7EBEEB3;
    border-radius: 4px;
    margin-bottom: 30px;
}
.userdetailscontainer p {
    font-size: 16px;
    font-weight: 22px;
}

.userdetailscontainer button {
    margin-top: 0px;
}
.userdetailscontainer .inputclass {
    width: 100%;
    margin-top: 10px;
    /* padding: 10px; */
    /* border: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #0A22391F; */
}